
{% extends 'base.html' %}

{% block header %} 
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Enlazar el archivo CSS -->

<h2> {% block title %} Estado de Cartera{% endblock %} </h2>
{% endblock %}

{% block content %} 
<body>
    {% for total_polizas in total_polizas %}
        <th>{{total_polizas}}</th>
    {% endfor %}
    <table class="tabla_comparativa" id="tabla1" border="1" >
        <h1>Estado de Cartera Por cia</h1>
        <tr>
            <th>cia</th>
            <th>Cantidad</th>
        </tr>
        {% for valores in tabla_x_cia%}
        <tr>
            <th>{{valores.cia}}</th>
            <th>{{valores.Cantidad_cia}}</th>
        </tr>
        {% endfor %}
    </table>
    </br>
</br>
    <table class="tabla_comparativa"  border="1">
        <h1>Estado de Cartera Por Ramo</h1>
        <tr>
            <th>Ramo</th>
            <th>Cantidad</th>
        </tr>
        {% for valores in tabla_x_ramo%}
        <tr>
            <th>{{valores.ramo}}</th>
            <th>{{valores.Cantidad_ramo}}</th>
        </tr>
        {% endfor %}
    </table>
</br>
    <form id="form8" method="post" name="cambio_estado">

        <h1> Buscar Polizas Por Ramo</h1>

        <label for="dd">Ramo</label>
        <select name="valor_ramo" >
            <option value=""></option>
              {% for valor in info_rama %}
                <option value="{{ valor.id_ramo }}" >{{ valor.ramo }}</option>
              {% endfor %}
        </select>
        <label>Buscar Todos</label>
        <input type="checkbox" name="buscador_ramo"  checked> 
        </br>
        <label for="dd">Compañia</label>
        <select name="valor_cia" >
            <option value=""></option>
              {% for valor in info_cia %}
                <option value="{{ valor.id_cia }}" >{{ valor.cia }}</option>
              {% endfor %}
        </select>
        <label>Buscar Todos</label>
        <input type="checkbox" name="buscador_cia" >         
        </br>
        <button type="submit" id="btn_upd_comentarios" name="btn_upd_comentarios">Buscar </button> 
        
        <table>
            
        </table>
    </form>   
    <table>
        <h1>Busqueda especializada</h1>
        <h2>{{ count_elementos }}</h2>
        <tr>
            <th>poliza</th>
            <th>Cia / Ramo</th>
            <th>titular</th>
            <th>fecha Baja</th>
            <th>Estado Poliza</th>
        

        </tr>
        {% for valores in elementos%}
        <tr>
            <th>{{valores.id_poliza}}</th>
            <th>{{valores.ramo}}</th>
            <th>{{valores.nom_apell}}</th>
            <th>{{valores.fecha_baja}}</th>
            <th>{{valores.estado_poliza}}</th>

            
        </tr>
        {% endfor %}
    </table>   
</body>

{% endblock %}