{% extends 'base.html' %}

{% block header %} 
<h2> {% block title %} INICIO {% endblock %} </h2>
{% endblock %}


{% block content %}
<a class="action" href="{{ url_for('pan_cl.buscador_dni') }}"> Panel Cliente   </a>
<br>
<br>
<a class="action" href="{{ url_for('pan_diario.pan_diario') }}"> Panel Diario</a>
<br>
<br>
<a class="action" href="{{url_for('todo.ag_cartera') }}"> Agenda</a>
<br>
<br>
<a class="action" href="{{ url_for('pan_siniestro.pan_siniestro') }}"> Panel siniestro</a>
<br>
<br>
<a class="action" href="{{ url_for('creador_pdf.pdf_coti_auto') }}"> pdf cotizaodres</a>
<br>
<br>

<a class="action" href="{{ url_for('contabilidad.contabilidad') }}"> Busqueda Especifica</a>
{% endblock %}  

